<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div id="page_header"></div>    
<div class="container margin-from-header">
    <div class="about-text-container">
        <h4>About Newground</h4>
        <p>NewGround LLC is a software development company with product and R&amp;D departments based in Ukraine. We've been
            in operation since 1999 and have 60 skilled Middle and Senior level developers. We've been working with our business partners for years, preferring 1 old friend to 10 new ones. Also, we have IOT experience in our own hardware + software products for the media and entertainment industries.</p>
            <p>To make all that happen, we do advanced research through our R&amp;D department that works with Data Mining,
            IOT, and machine learning. We have a wide range of experience in different industries (logistics, government, media, medicine, entertainment). We also only have Middle and Senior Developers because we care about your time and money, so you DO NOT pay for the learning, just the doing. We respect your confidentiality, so, we never go over NDA agreement. And all of our partners stay with us an
            average 3+ years and they can confirm that.</p>
        <h4>What do we mean by Comfort Partner?</h4>
        <p>We mean that we pay attention to the details. We've created a comfortable environment for easy, pleasant, and
            long-term cooperation with you in all areas of business.</br>
            The style in which we work, our communication process, and our openness to discuss anything are all features
            of our business that will make you feel comfortable.</p>
            <p>You can rely on us. NewGround has a breadth of experience successfully handling a variety of challenges including large-scale projects and successfully releasing our own and our clients’ products. We've learned from these experiences and we bring that experience with us to each new project. We are a team of 60 experienced developers, specialized in Java (18 years of experience), R&amp;D (18 years), IOS and Android (7 years), #.NET (7 years), Scala (6 years) and so on. So, give us a new challenge and let's start our comfort partnership!</p>
        <h4><a name="what_we_do"></a>What is Our Approach that Helps us to Stay Your Comfort Partner?</h4>
        <p>We work in the same environment with you. We make your tasks easier by having a big list of experienced developers     that can start working on your project within days of the request. We value your time, so we try to always answer quickly. We like showing results. We respect the planning process because it helps guide us to the expected results.</p>
            <p>We know that every project can be launched quickly in a Minimum viable product version and then continue working under new functions and with new complexity.</p>
        <h4>What we do</h4>
        <ul>
            <li><strong>Consulting</strong>. Our core team provides consulting services that include: preparing industry research, consulting services on the business goals of your project, developing those specific goals, creating the terms and conditions of the development, and finding the best solution that work for your project and the technical solutions you need to reach your goals.</li>
            <li><strong>IT Architecture</strong>. We use a defined system of best practices and all the guidelines fromAndroid and IOS to build the kind of software that needs a minimum amount of your time and money now and in the future, ensuring stability and quality.</li>
            <li><strong>Development</strong>. We provide complete packages of software development services for different platforms. We integrate and test solutions.</li>
            <li><strong>Testing &amp; Maintenance</strong></li>
            <li><strong>Resource Management</strong>. Reporting on the development of the project is provided to you with the help of modern tracking systems and regular communication. Reports on the use of resources and compliance with the plan can be obtained at each design stage.</li>
        </ul>
        <h4>Our Markets and Our Expertise</h4>
        <ul>
            <li>Logistics Medicine</li>
            <li>Automated systems for logistics companies and organizations;</li>
            <li>Geo Information Systems supporting Transport Authorities;</li>
            <li>CRM Solutions;</li>
            <li>ERP applications;</li>
            <li>Rapid Application Development platforms;</li>
            <li>Mobile applications;</li>
            <li>Digital media solutions;</li>
            <li>Cloud Computing</li>
        </ul>
        <h4>Our Technological Experience:</h4>
        <ul>
            <li>18 years of experience in Java</li>
            <li>18 years of experience in R&amp;D</li>
            <li>7 years of experience in IOS</li>
            <li>7 years of experience in Android</li>
            <li>7 years of experience in .NET</li>
            <li>6 years of experience in Scala</li>
        </ul>
        <h4>Our own products</h4>
        <ul>
            <li>Mobile apps. For automotive financing services involving credit and maintenance plans, tracking apps for
                transport industry and up to 50 mobile games.
            </li>
            <li>Interactive solutions. 3D mapping, Interactive maps for multi touch surface, Interactive stands for
                advertising and event agencies.
            </li>
            <li>Bluetooth solutions for media and entertainment industry.</li>
        </ul>
        <h4>Where we've been challenged and succeeded</h4>
        <ul>
            <li>Highly loaded, 24/7, live system</li>
            <li>Big government projects</li>
            <li>Complex geo Information Systems</li>
        </ul>
    </div>
    <div class="row positions block-item text-center">
        <h2 class="block-caption">Open positions</h2>
        <p class="block-caption-text">Join us to make great projects together</p>
    </div>
    <div class="row work-area block-item">
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev.jpg">
                <div class="image_overlay">
                    <p>View Full Project</p>
                    <h2>Mobile App</h2>
                    <h4>IOS/Android</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev1.jpg">
                <div class="image_overlay">
                    <p>View Full Project</p>
                    <h2>Enterprise Solution</h2>
                    <h4>Using new Frameworks</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev2.jpg">
                <div class="image_overlay">
                    <p>View Full Project</p>
                    <h2>GEO</h2>
                    <h4>New Transport Application</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contacts_form"></div>
<div id="page_footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
<script src="../../js/script.js"></script>
<script>
    $(function(){
        $("#page_header").load("header.html");
        $("#page_footer").load("footer.html");
        $("#contacts_form").load("contacts_form.html");
    });
</script>
</body>
</html>
