<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../../index.html">
                        <img src="../images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Solutions</a></li>
                    <li><a href="cases.html">Cases</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container text-center">
        <div class="row block-top">
            <h2>OUR CASES</h2>
            <img src="../images/shape.png">
        </div>
        <div class="row filters">
            <ul>
                <li><a href="#" class="active"><h5>All</h5></a></li>
                <li><a href="#"><h5>Prototype</h5></a></li>
                <li><a href="#"><h5>Design</h5></a></li>
                <li><a href="#"><h5>Android</h5></a></li>
                <li><a href="#"><h5>Apple IOS</h5></a></li>
                <li><a href="#"><h5>Web App</h5></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid work-area">
        <div class="row">
            <div class="col-md-4 no_padding">
                <div class="single_image">
                    <img src="../images/w1.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding">
                <div class="single_image">
                    <img src="../images/w2.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding">
                <div class="single_image">
                    <img src="../images/w3.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding">
                <div class="single_image">
                    <img src="../images/w4.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding">
                <div class="single_image">
                    <img src="../images/w5.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding">
                <div class="single_image last_padding">
                    <img src="../images/w6.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row block-top">
            <h1>get in touch</h1>
            <img src="../../resources/images/shape.png">
            <p>DISCUSS YOUR PROJECT WITH US</p>
        </div>
        <div class="row block-top">
            <div class="col-md-3">
                <div class="single_contact_info">
                    <h2>Call Me</h2>
                </div>
                <div class="single_contact_info">
                    <h2>Email Us</h2>
                    <p>info@newground.ua</p>
                </div>
                <div class="single_contact_info">
                    <h2>Address</h2>
                    <p>58 Street Antonovicha, Kyiv</p>
                </div>
            </div>
            <div class="col-md-9">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="email" class="form-control" placeholder="Email">
                            <input type="text" class="form-control" placeholder="Company">
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="25" cols="10" placeholder="Message..."></textarea>
                            <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row block-top">
            <div class="col-md-12">
                <div class="work-with">
                    <h3>looking forward to hearing from you!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer text-center block-top">
        <div class="row">
            <div class="footer-logo">
                <img src="../../resources/images/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="social">
                <h2>Follow Us on Here</h2>
                <ul class="icon_list">
                    <li><a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a><i class="fa fa-google-plus"></i></a></li>
                    <li><a><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright_text">
                <p>&copy; NewGround 2017. All Right Reserved.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>
