<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../../index.html">
                        <img src="../images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="cases.html">Cases</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container text-center margin-from-header">
        <div class="row block-item">
            <h2 class="block-caption">OUR CASES</h2>
        </div>
        <div class="row filters block-item">
            <ul>
                <li><button class="btn btn-default active" onclick="filter(this, 'all')">All</button></li>
                <li><button class="btn btn-default" onclick="filter(this, 'prototype')">Prototype</button></li>
                <li><button class="btn btn-default" onclick="filter(this, 'design')">Design</button></li>
                <li><button class="btn btn-default" onclick="filter(this, 'android')">Android</button></li>
                <li><button class="btn btn-default" onclick="filter(this, 'apple_ios')">Apple IOS</button></li>
                <li><button class="btn btn-default" onclick="filter(this, 'web_app')">Web App</button></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid work-area">
        <div class="row block-item" data-filter-result>
            <div class="col-md-4 no_padding" data-filter-item="prototype">
                <div class="single-image">
                    <img src="../images/w1.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding" data-filter-item="design">
                <div class="single-image">
                    <img src="../images/w2.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding" data-filter-item="android">
                <div class="single-image">
                    <img src="../images/w3.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding" data-filter-item="apple_ios">
                <div class="single-image">
                    <img src="../images/w4.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding" data-filter-item="web_app">
                <div class="single-image">
                    <img src="../images/w5.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no_padding" data-filter-item="prototype">
                <div class="single-image last_padding">
                    <img src="../images/w6.jpg">
                    <div class="image_overlay">
                        <p>View Full Project</p>
                        <h2>drawing</h2>
                        <h4>with pencil colors</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function(){
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>
</html>
