<div class="container text-center">
    <div class="row block-item">
        <h2 class="block-caption">Get in touch</h2>
        <p class="block-caption-text">Discuss your project with us</p>
        <img src="resources/images/shape.png" alt="">
    </div>
    <div class="row wow fadeInUp animated">
        <div class="col-md-4 contact-info text-center">
            <h2>Call Us</h2>
            <p>+38 044 200 04 43</p>
        </div>
        <div class="col-md-4 contact-info text-center">
            <h2>Email Us</h2>
            <p>info@newground.ua</p>
        </div>
        <div class="col-md-4 contact-info text-center">
            <h2>Address</h2>
            <p>16-A Knyazhiy Zaton street, Kyiv, Ukraine</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="work-with   wow fadeInUp animated">
                <p class="block-caption-text">looking forward to hearing from you!</p>
            </div>
        </div>
    </div>
</div>