<body>
    <div class="container text-center">
        <div class="row block-item">
            <h2 class="block-caption">Get in touch</h2>
            <p class="block-caption-text">Discuss your project with us</p>
        </div>
        <div class="row block-item">
            <div class="col-md-12">

                <div class="contact-info">
                    <h2>Email Us</h2>
                    <p>info@newground.ua</p>
                </div>
                <div class="contact-info">
                    <h2>Address</h2>
                    <p>58 Street Antonovicha, Kyiv</p>
                </div>
            </div>
        </div>
        <div class="row block-item">
            <div class="col-md-12">
                <h3 class="block-caption-text">Looking forward to hearing from you!</h3>
            </div>
        </div>
    </div>
</body>