<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="page_header"></div>
    <div class="container text-center margin-from-header">
        <div class="row block-item">
            <h2 class="block-caption">WE DEVELOP</h2>
        </div>
        <div class="row services block-item">
            <div class="col-md-3">
                <a href="https://github.com/NewGround-LLC" target="_blank">
                    <img src="../images/icon5.png">
                    <h3 class="block-row-item-caption">Research &amp; Development</h3>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://newground-llc.github.io/NewGroundMobi.github.io/index.html" target="_blank">
                    <img src="../images/icon7.png">
                    <h3 class="block-row-item-caption">Mobile Applications</h3>
                </a>
            </div>
            <div class="col-md-3">
                <a href="solutions_erp.html" target="_blank">
                    <img src="../images/icon6.png">
                    <h3 class="block-row-item-caption">ERP Solutions</h3>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://cloudcentury.com/" target="_blank">
                    <img src="../images/icon8.png">
                    <h3 class="block-row-item-caption">Cloud</h3>
                </a>
            </div>
        </div>
        <div class="row block-item">
            <h2 class="block-caption">Industries</h2>
        </div>
        <div class="row">
            <img src="../images/solutions_city.png">
        </div>
        <div class="row">
            <h2 class="block-caption">Technologies</h2>
        </div>
        <div class="row technologies block-item">
            <div class="icon-center">
                <img src="../images/solutions_icon_scala.png">
            </div>
            <div class="icon-center">
                <img src="../images/solutions_icon_ios.png">
            </div>
            <div class="icon-center">
                <img src="../images/solutions_icon_android.png">
            </div>
            <div class="icon-center">
                <img src="../images/solutions_icon_net.png">
            </div>
            <div class="icon-center">
                <img src="../images/solutions_icon_java.png">
            </div>
            <div class="icon-center">
                <img src="../images/solutions_icon_js.png">
            </div>
        </div>
    </div>
    
    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function(){
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>
</html>
