<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../../../index.html">
                        <img src="../../images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../../../index.html">Home</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li><a href="../services.html">Services</a></li>
                    <li><a href="../cases.html">Cases</a></li>
                    <li><a href="../blog.html">Blog</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container text-center">
        <div class="row block-top">
            <h1>ERP DEVELOPMENT</h1>
            <img src="../../images/shape.png">
        </div>
        <div class="row block-top development">
            <div class="development-text">
                <p>We provide custom development of enterprise solutions that help
                    <br>our clients automate and optimize their business processes.
                    <br>We work with both small and large companies in such domains as banking,
                    <br>finance, retail, manufacturing, software development, insurance etc.
                    <br>After more then 20 years developing business applications, there are
                    <br>almost no limitations for us regarding the type, business purpose,
                    <br>scale or the industry for the solution you need.
                </p>
            </div>
            <div class="img_service">
                <img src="../../images/ima.png">
            </div>
        </div>
        <div class="row">
            <h1>work process</h1>
            <img src="../../images/shape.png">
        </div>
        <div class="row block-top">
            <div class="col-md-3">
                <div class="single_service">
                    <img src="../../images/icon2.png">
                    <p> - Requirements analasys</p>
                    <p> - Project evaluation</p>
                    <p> - Schedule</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single_service">
                    <img src="../../images/icon3.png">
                    <p> - Concept and design</p>
                    <p> - Prototyping</p>
                    <p> - Development</p>
                    <p> - Unit testing</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single_service">
                    <img src="../../images/icon4.png">
                    <p> - Load testing</p>
                    <p> - Stress testing</p>
                    <p> - Solution integration</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single_service">
                    <img src="../../images/icon.png">
                    <p> - Deployment</p>
                    <p> - Updates</p>
                    <p> - Technical support and maintenance</p>
                </div>
            </div>
        </div>
        <div class="row block-top">
            <h1>technologies</h1>
            <img src="../../images/shape.png">
        </div>
        <div class="row block-top">
            <div class="col-md-4">
                <h4>Frameworks:</h4>
                <p>NET WPF Silverlight</p>
            </div>
            <div class="col-md-4">
                <h4>Platforms:</h4>
                <p>MS Windows, Microsoft Azure</p>
            </div>
            <div class="col-md-4">
                <h4>Databases:</h4>
                <p>Microsoft SQL, MySQL, SQL Server Analysis Services, OLAP, MDX, Oracle</p>
            </div>
            <div class="col-md-4">
                <h4>Frontend:</h4>
                <p>HTML5, Javascript, jQuery, JSON, Bootstrap</p>
            </div>
            <div class="col-md-4">
                <h4>Approaches:</h4>
                <p>Scrum, Kanban, Waterfall</p>
            </div>
            <div class="col-md-4">
                <h4>Development tools:</h4>
                <p>Microsoft Visual Studio, DevExpress XAF, ReSharper</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row block-top">
            <h1>get in touch</h1>
            <img src="../../../resources/images/shape.png">
            <p>DISCUSS YOUR PROJECT WITH US</p>
        </div>
        <div class="row block-top">
            <div class="col-md-3">
                <div class="single_contact_info">
                    <h2>Call Me</h2>
                </div>
                <div class="single_contact_info">
                    <h2>Email Us</h2>
                    <p>info@newground.ua</p>
                </div>
                <div class="single_contact_info">
                    <h2>Address</h2>
                    <p>58 Street Antonovicha, Kyiv</p>
                </div>
            </div>
            <div class="col-md-9">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="email" class="form-control" placeholder="Email">
                            <input type="text" class="form-control" placeholder="Company">
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="25" cols="10" placeholder="Message..."></textarea>
                            <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row block-top">
            <div class="col-md-12">
                <div class="work-with">
                    <h3>looking forward to hearing from you!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer text-center block-top">
        <div class="row">
            <div class="footer-logo">
                <img src="../../../resources/images/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="social">
                <h2>Follow Us on Here</h2>
                <ul class="icon_list">
                    <li><a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a><i class="fa fa-google-plus"></i></a></li>
                    <li><a><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright_text">
                <p>&copy; NewGround 2017. All Right Reserved.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../../js/script.js"></script>
</body>
</html>