/* variables */

// General
body {
  font-family: 'Gravity', sans-serif;
  p {
    font-family: ROBOTO, sans-serif;;
  }
  a {
    font-family: ROBOTO, sans-serif;;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: ROBOTO, sans-serif;;
  }
  .block-top {
    margin-top: 50px;
  }
}

// Header
.header {
  background: url(../images/header_bg.jpg) no-repeat;
  .navbar {
    .navbar-header {
      img {
        width: 220px;
        height: 42px;
      }
    }
    ul.navbar-nav li a {
      color: #777;
      text-transform: uppercase;
      margin:10px;
      &:hover {
        color: #0077be;
      }
    }
  }
}

// Container
.container {
  .home-text {
    padding-top: 150px;
    padding-bottom: 100px;
    color: #404040;
    font-size: 14px;
    text-transform: uppercase;
    h2 {
      color: #010101;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 13px;
    }
    .home-image img {
      width: 300px;
      height: 200px;
    }
  }
  .we-do {
    h2 {
      font-size: 25px;
      color: #3d3d3d;
      text-transform: uppercase;
      margin-top: 0;
      letter-spacing: 6px;
    }
  }
  .single_service {
    img {
      height: 90px;
    }
    h2 {
      color: #000000;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  about-title {
    h2 {
      font-size: 25px;
      color: #3d3d3d;
      text-transform: uppercase;
      margin-top: 85px;
      letter-spacing: 6px;
      margin-bottom: 21px;
    }
  }
}
.work-area {
  width: 100%;
  .no_padding{
    padding-left: 0px;
    padding-right: 0px;
  }
  .single_image {
    margin: 0 3px 3px 0;
    position: relative;
    img {
      width: 100%;
    }
    &:hover div.image_overlay {
      opacity: 1;
    }
    .image_overlay {
      position: absolute;
      width: 100%;
      height: 230px;
      background: rgba(0,119,190,.9);
      top: 0;
      opacity: 0;
      transition: all 1s;
      h2, h4, p {
        position: absolute;
        text-transform: uppercase;
        color: #fff;
      }
      p {
        top: 20px;
        right: 20px;
      }
      h2 {
        bottom: 28px;
        font-size: 25px;
        left: 20px;
      }
      h4 {
        bottom: 11px;
        font-size: 14px;
        left: 20px;
      }
    }
  }
}
.baton {
  margin-top:50px;
  .exbutton, .exbutton2, .exbutton3 {
    color: #0077be;
    background-color: #fff;
    opacity:0.7;
    font-weight:bold;
    border-radius: 5px;
    outline: none;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 1s;
    margin-top:300px;
    position: absolute;
    &:hover {
      color: #fff;
      background-color: #0077be;
      border-color: #0077be;
    }
  }
  .exbutton {
    margin-left: 550px;
  }
  .exbutton2 {
    margin-left: 100px;
  }
  .exbutton3 {
    margin-left: 1000px;
  }
}
/*Contact*/
.single_contact_info {
  padding-bottom: 21px;
  color: #3d3d3d;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 1px;
  }
  p {
    font-size: 15px;
  }
}
.contact-form {
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 0px;
  .form-control {
    height: 43px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px solid #fff;
  }
  textarea.form-control {
    height: 104px;
  }
  .form_submit {
    width: 100%;
    background: #0077be;
    border-radius: 0px;
    color: #fff;
    padding: 13px 0 10px 0;
    transition: all 1s;
  }
}
.work-with {
  color: #636363;
  h3 {
    font-size: 14px;
    text-transform: uppercase;
  }
}
/*Footer*/
.footer {
  background-color: #f1f1f1;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  .footer-logo {
    img {
      width: 220px;
      height: 42px;
    }
  }
  .social {
    padding-top: 65px;
    h2 {
      text-transform: uppercase;
      font-size: 16px;
    }
    ul.icon_list {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      margin-top: 20px;
      li {
        display: inline;
        padding: 0 3px 0 3px;
        a {
          display: inline-block;
          color: #636363;
          border: 1px solid #636363;
          border-radius: 50%;
          text-align: center;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 28px;
          transition: all 1s;
          &:hover{
            color: #0077be;
            border-color:#0077be;
          }
        }
      }
    }
  }
  .copyright_text {
    padding-top: 80px;
    p {
      color: #636363;
      text-transform: uppercase;
    }
    a {
      color:#0077be;
      text-transform:uppercase;
      font-weight:700;
      text-decoration:none;
    }
  }
}
/* Portfolio Filters */

.filters {
  margin-bottom: 40px;
  text-align: center;
  ul li {
    display: inline-block;
    margin: 0 5px;
    a {
      h5 {
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 5px;
        padding: 10px 22px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out 0s;
        background: #fff;
        border: #C2C2C2 solid 1px;
        color: #7C7C7C;
      }
      &:hover, &.active {
        h5 {
          color: #0077be;
          border: #0077be solid 1px;
        }
      }
    }
  }
}
/* Contacts */
.contacts {
  h2 {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
  }
  p {
    color: #404040;
    font-size: 16px;
  }
}
/*-- development --*/
.development {
  width: 100%;
  .development-text {
    float: left;
    p {
      color: #5f6970;
      margin: 1em 0 4em;
      font-size: 17px;
    }
  }
  .img_service {
    float: right;
    img {
      width: 550px;
      height: 251px;
    }
  }
}
/*-- services --*/
.services {
  .icon-center {
    float: left;
    margin-left: 7%;
    img {
      width: 90px;
    }
  }
}