/* variables */
body {
  font-family: 'Gravity', sans-serif; }
  body p {
    font-family: ROBOTO, sans-serif; }
  body a {
    font-family: ROBOTO, sans-serif;
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: ROBOTO, sans-serif; }

.achievements img, .services img, .technologies img {
  width: 90px; }

.header {
  background: url(../images/header_bg.jpg) no-repeat; }
  .header .navbar .navbar-header img {
    width: 220px;
    height: 42px; }
  .header .navbar ul.navbar-nav li a {
    color: #777;
    text-transform: uppercase;
    margin: 10px; }
    .header .navbar ul.navbar-nav li a:hover {
      color: #0077be; }

.container.margin-from-header {
  margin-top: 70px; }

.row.margin-from-top, .container-fluid.margin-from-top {
  margin-top: 50px; }

.work-area .no_padding {
  padding: 0; }
.work-area .single-image {
  margin-left: 3px;
  position: relative; }
  .work-area .single-image img {
    width: 100%; }
  .work-area .single-image:hover div.image_overlay {
    opacity: 1; }
  .work-area .single-image .image_overlay {
    position: absolute;
    width: 100%;
    height: 230px;
    background: rgba(0, 119, 190, 0.9);
    top: 0;
    opacity: 0;
    transition: all 1s; }
    .work-area .single-image .image_overlay h2, .work-area .single-image .image_overlay h4, .work-area .single-image .image_overlay p {
      position: absolute;
      text-transform: uppercase;
      color: #fff; }
    .work-area .single-image .image_overlay p {
      top: 20px;
      right: 20px; }
    .work-area .single-image .image_overlay h2 {
      bottom: 28px;
      font-size: 25px;
      left: 20px; }
    .work-area .single-image .image_overlay h4 {
      bottom: 11px;
      font-size: 14px;
      left: 20px; }

.entry-text {
  text-transform: uppercase; }
  .entry-text h2 {
    letter-spacing: 6px; }
  .entry-text .entry-image {
    width: 300px;
    height: 200px; }

.services h1 {
  text-transform: uppercase;
  letter-spacing: 6px; }

.entry-text p {
  color: #404040;
  font-size: 14px; }

.about-title h2 {
  text-transform: uppercase;
  letter-spacing: 6px; }

.experts button {
  position: absolute;
  transform: translate(-50%, -110%);
  padding: 10px 40px;
  background-color: #fff;
  color: #337ab7;
  opacity: 0.7;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .experts button:hover {
    color: #fff;
    background-color: #0077be;
    border-color: #0077be; }
.experts img {
  width: 100%; }

.positions h2 {
  text-transform: uppercase;
  letter-spacing: 6px; }

.technologies .icon-center {
  float: left;
  margin-left: 7%; }

/*Contact*/
.single_contact_info {
  padding-bottom: 21px;
  color: #3d3d3d; }
  .single_contact_info h2 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 1px; }
  .single_contact_info p {
    font-size: 15px; }

.contact-form {
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 0px; }
  .contact-form .form-control {
    height: 43px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px solid #fff; }
  .contact-form textarea.form-control {
    height: 104px; }
  .contact-form .form_submit {
    width: 100%;
    background: #0077be;
    border-radius: 0px;
    color: #fff;
    padding: 13px 0 10px 0;
    transition: all 1s; }

.work-with {
  color: #636363; }
  .work-with h3 {
    font-size: 14px;
    text-transform: uppercase; }

/*Footer*/
.footer {
  background-color: #f1f1f1;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer .footer-logo img {
    width: 220px;
    height: 42px; }
  .footer .social {
    padding-top: 65px; }
    .footer .social h2 {
      text-transform: uppercase;
      font-size: 16px; }
    .footer .social ul.icon_list {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      margin-top: 20px; }
      .footer .social ul.icon_list li {
        display: inline;
        padding: 0 3px 0 3px; }
        .footer .social ul.icon_list li a {
          display: inline-block;
          color: #636363;
          border: 1px solid #636363;
          border-radius: 50%;
          text-align: center;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 28px;
          transition: all 1s; }
          .footer .social ul.icon_list li a:hover {
            color: #0077be;
            border-color: #0077be; }
  .footer .copyright_text {
    padding-top: 80px; }
    .footer .copyright_text p {
      color: #636363;
      text-transform: uppercase; }
    .footer .copyright_text a {
      color: #0077be;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none; }

/* Portfolio Filters */
.filters {
  margin-bottom: 40px;
  text-align: center; }
  .filters ul li {
    display: inline-block;
    margin: 0 5px; }
    .filters ul li a h5 {
      border-radius: 4px;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 5px;
      padding: 10px 22px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out 0s;
      background: #fff;
      border: #C2C2C2 solid 1px;
      color: #7C7C7C; }
    .filters ul li a:hover h5, .filters ul li a.active h5 {
      color: #0077be;
      border: #0077be solid 1px; }

/* Contacts */
.contacts h2 {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase; }
.contacts p {
  color: #404040;
  font-size: 16px; }

/*-- development --*/
.development {
  width: 100%; }
  .development .development-text {
    float: left; }
    .development .development-text p {
      color: #5f6970;
      margin: 1em 0 4em;
      font-size: 17px; }
  .development .img_service {
    float: right; }
    .development .img_service img {
      width: 550px;
      height: 251px; }

/*# sourceMappingURL=style.css.map */
